/**************bar de scroll ******/
::-webkit-scrollbar
	 	{
	 		width: 8px;
	 	}
	 	::-webkit-scrollbar-thumb
	 	{
	 		background: linear-gradient(transparent,dodgerblue);
	 		border-radius: 6px;
	 	}
	 	::-webkit-scrollbar-thumb:hover
	 	{
	 		background: linear-gradient(transparent,#f00);
	 	}
/*********************  font de la text ***********************************/
@font-face 
{
    font-family: 'Montserrat Regular';
    src: url('font/Montserrat-Regular.ttf');
}

@font-face 
{
    font-family: 'Montserrat Bold';
    src: url('Font/Montserrat-Bold.ttf');
}

@font-face 
{
    font-family: 'Montserrat Semi Bold';
    src: url('Font/Montserrat-SemiBold.ttf');
}

@font-face 
{
    font-family: 'Montserrat Medium';
    src: url('Font/Montserrat-Medium.ttf');
}

@font-face 
{
    font-family: 'Far From Homecoming';
    src: url('Font/Far-From-Homecoming.otf');
}
/* ************************  ------     *******************************/

/**************** definir le style de police  ***********************/
a
{

    color: #fff;
    font-family: 'Montserrat Medium';
}

h1
{
    font-family:'Far From Homecoming' ;
    color: #fff;
}

h2,h3
{
    font-family:'Montserrat Regular';
    color: #fff;
}

p
{
    color: #fff;
    font-weight: lighter;
}

/**************** fin le style de police  ***********************/

*
{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Regular';
}

header
{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: bolder;
}

header div.logo
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


header div.logo .logo-sayna
{
	
	height: 6vh;
	margin-right: 2vw;

}

header div.logo .logo-times
{
	height: 3vh;
	margin-right: 2vw;
}

header div.logo .logo-text
{
	height: 35px;
}

nav.lien ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

nav.lien ul li
{
	width: 11vw;
	margin-top: 2vh;
	text-align: center;
}

nav.lien ul li a 
{
	text-decoration: none;
	color: #ffffff;
}
/*********** fin de css head ******************************/


/* ***********************  css de la page home ***********************/
header#home_header
{
	background-color: #B11313;
}

div.contenu_prem_home
{
	width: 100%;
	height: 136vh;
	background: url('Illustration/img1.png') no-repeat;
	background-size:cover;
}

div.contenu_prem_home .sous_contenu_prem_home
{
	position: absolute;
	top: 45%;
	left: 10%;
	color: #ffffff;
}

div.contenu_prem_home .sous_contenu_prem_home h1
{
	font-size: 5.9em;
}

div.btn_prem_home 
{
	width: 75%;
	margin-top: 20vh;
	display: flex;

}

div.btn_prem_home > a
{
	width: 15vw;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #ffffff;
	text-align: center;
	padding-top: 8px;
}

div.btn_prem_home a.btn_heros_home
{
	color: #B11313;
	background-color: #ffffff;
}

div.btn_prem_home a.btn_adversaires_home
{
	margin-left: 3vw;
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}
div.sous_contenu_prem_home h2
{
	margin-top: 20px;
	letter-spacing: 3px;
}

div.contenu_second_home
{
	height: 140vh;
	background-color: #B11313;
	margin-top: -20px;

}

div.sous_contenu_second_1_home
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -45px;
	color: #ffffff;
}

div.sous_contenu_second_2_home
{
	margin-top: -40px;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

div.sous_contenu_second_2_home > div
{
	width: 25vw;
	height: auto;

}

div.sous_contenu_second_2_home > div img
{
	height: 300px;
	height: 350px;
}

div.sous_contenu_second_2_home > div p
{
	text-align: justify;
	margin-top: 25px;
	height: 250px;
	width: 100%;
}

div.sous_contenu_second_2_home > div button
{
		width: 11vw;
		background-color: ;
		height: 40px;
		border: none;
		outline: none;
		border-radius: 10px;
		color: #B11313;
		margin-left: 5vw;
		font-weight: bold;
		margin-top: 10%;
}

div.sous_contenu_second_2_home .partieII_home,div.sous_contenu_second_2_home .partieIII_home
{
	margin-left: 3vw;
}

div.contenu_trois_home
{
	height: 90vh;
	width: 100%;
	background-color: #114C92;
	display: flex;
	color: #fff;
}

div.contenu_trois_home > div
{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.contenu_trois_droite_home h1	
{
	text-align: center;
}

div.contenu_trois_droite_home form div
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
div.contenu_trois_droite_home form input[type="text"],div.contenu_trois_droite_home form input[type="email"]
{
	height: 25px;
	width: 95%;
	border-radius: 20px;
	outline: none;
	border: none;
	border: 1px solid #000000;
	padding-left: 20px;
	margin-top: 19px;
}
div.contenu_trois_droite_home form input[type="submit"]
{
	height: 35px;
	width: 12vw;
	background-color: transparent;
	border: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-align: center;
	border-radius: 20px;
	outline: none;
	margin-top: 19px;
	margin-left:8vw;
}

div.contenu_quatre_home
{
	width: 100%;
	height: 90vh;
	display: flex;
	background-color: #B11313;
	color: #ffffff;

	
}


div.contenu_quatre_home div.sous_contenu_quatre_gauche_home
{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-left: 5%;
}

div.contenu_quatre_home div.sous_contenu_quatre_gauche_home div
{
	margin-top: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.sous_contenu_quatre_gauche_home div form
{
	margin-top: 7%;
}

div.sous_contenu_quatre_gauche_home div form input[type='text'],
div.sous_contenu_quatre_gauche_home div form input[type='email']
{
	height: 30px;
	width: 60%;
	border-radius: 20px;
	outline: none;
	border: none;
	border: 1px solid #ffffff;
	padding-left: 20px;
	margin-top: 19px;
	background-color: transparent;
}

div.sous_contenu_quatre_gauche_home div form input[type='submit']
{
	height: 45px;
	width: 15vw;
	background-color: #ffffff;
	border: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-align: center;
	border-radius: 15px;
	outline: none;
	margin-top: 19px;
	margin-left:5vw;
	font-weight: bolder;
	color: #B11313;
	font-size: .9em;
}

div.contenu_quatre_home div.sous_contenu_quatre_droite_home
{
	width: 45%;
	height: 100%;
}


#home_select
{
	background-color: #B11313;
}
div#sous_footer_second div div
{
	background-color: #B11313;
}




/********************* fin de ccs de la page home ********************************/

/******************** debut css de la page adversaire ****************************/

header#adv_header
{
	background-color: #F1C530;
}
div.contenu_prem_adv
{
	width: 100%;
	height: 100vh;
	background: url('Illustration/img7.png') no-repeat;
	background-size: cover;
}

div.contenu_prem_adv .sous_contenu_prem_adv
{
	position: absolute;
	top: 55%;
	left: 10%;
	color: #ffffff;
}
div.contenu_prem_adv .sous_contenu_prem_adv h1
{
	font-size: 5.3em;
	letter-spacing: 4px;
}
div.contenu_prem_adv .sous_contenu_prem_adv h3
{
	font-size: 1.4em;
	letter-spacing: 2px;

}

div.contenu_second_adv
{
	width: 100%;
	margin-top: -2%;
	background-color: #F1C530;
	padding-top: 5%;
	padding-bottom: 5%;
}

div.contenu_second_adv div.sous_contenu_second_adv
{
	width: 80%;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-evenly;

}

div.contenu_second_adv div.sous_contenu_second_adv div
{
	width: 22vw;
	background-color: #000000;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 90vh;


}
div.contenu_second_adv div.sous_contenu_second_adv div img
{
	width: 100%;
	height: 35%;
}
div.contenu_second_adv div.sous_contenu_second_adv div div
{
	margin-top: -2%;
	width: 90%;
	height: 54.5vh;
	border-top: none;
	padding: 10px;
	background-color: #F1C530;
	margin-right: auto;
	margin-left: auto;
}
div.contenu_second_adv div.sous_contenu_second_adv div div h3
{
	text-align: center;
	color: #000000;
	margin-top: 4%;
	margin-bottom: 6%;
}

div.exception .partI
{
	margin-right: -8%;	
}

div.exception .partII
{
	margin-left: -8%;	
}

div.contenu_second_adv div.sous_contenu_second_adv div div p
{
	line-height: 22px;
	color: #000000;
}
#adv_select
{
	background-color: #F1C530;
}
#sous_footer_second_adv div div
{
	background-color: #F1C530;
}
/*********************** fin css de la page adversasires ***********************************/

/*********************** Debut css de la page hero ***********************************/

header#hero_header
{
	background-color: #114C92;
}

div.contenu_prem_hero
{
	width: 100%;
	height: 95vh;
	color: white;
	background: url('Illustration/img19.png') no-repeat;
	background-size: cover;
}
div.contenu_prem_hero div.sous_contenu_prem_hero
{
	position: absolute;
	top: 50%;
	left: 8%;
}

div.contenu_prem_hero div.sous_contenu_prem_hero h1
{
	font-size: 5em;
}

div.contenu_prem_hero div.sous_contenu_prem_hero h2
{
	letter-spacing: 2px;
}

div.contenu_second_hero
{
	width: 100%;
	height: 90vh;
	background-color: #114C92;
	color: #ffffff;
	padding-top: 5%;
}
div.contenu_second_hero div.sous_contenu_second_hero
{
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
}
div.contenu_second_hero div.sous_contenu_second_hero div.contient_text
{
	width: 40vw;
}
div.contenu_second_hero div.sous_contenu_second_hero div.contient_video
{
	width: 40vw;
}
div.contient_text p
{
	font-weight: lighter;
	text-align: justify;
	line-height: 15px;
}
div.contient_video video
{
	margin-top: 16%;
	width: 100%;
	height: 77%;
}

div.contenu_trois_hero
{
	width: 100%;
	height: 65vh;
	background: url('Illustration/img20.png') no-repeat;
	background-size: cover;
	color: #ffffff;
}
div.contenu_trois_hero div.sous_contenu_trois_hero
{
	
	padding-top: 7%;
	margin-left: 10%;
}
div.contenu_trois_hero div.sous_contenu_trois_hero h2
{
	font-size: 2.5em;
}
div.contenu_trois_hero div.sous_contenu_trois_hero p
{
	font-size: 1.3em;
}
div.contenu_quatre_hero
{
	width: 100%;
	background-color: #114C92;
	color: #ffffff;
	padding-top: 5%;
}

p
{
	font-weight: lighter;
	text-align: justify;
	line-height: 17px;
}
div.sous_contenu_quatre_hero_prem,div.sous_contenu_quatre_hero_second,
div.sous_contenu_quatre_hero_third
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
}

div.sous_contenu_quatre_hero_prem div
{
	width: 37vw;

}

div.contient_image
{
	width: 55%;
}
div.contient_image div
{
	width: 350px;
	height: 150px;
	position: relative;
}
div.contient_image h3
{
	margin-bottom: 3%;
}
div.contient_image div.img1
{
	z-index: 0;
}
div.contient_image div.img2
{
	top: -50%;
	left: 60%;
	z-index: 2;
}
div.contient_text_image
{
	width: 45%;
}
div.contient_text_image h2
{
	text-align: center;
	font-size: 2em;
}

div.sous_contenu_quatre_hero_third div
{
	width: 47%;
}

div.sous_contenu_quatre_hero_third div.cote_image
{
	display: flex;
	justify-content: space-around;
}
div.sous_contenu_quatre_hero_third div.cote_image div
{
	width: 260px;
	position: relative;
	height: 170px;

}
div.imgc1
{
	left: 20%;
}
div.imgc2
{
	top: 50%;
	left: 5%;
}
div.imgc3
{
	left: -10%;
}

div.contenu_fourth_hero
{
	width: 100%;
	display: flex;
}
div.contenu_fourth_hero div.fourth_droite
{
	width: 50%;
}
div.contenu_fourth_hero div.fourth_gauche
{
	width: 50%;
	background-color: #B11313;
	color: #ffffff;
	padding-bottom: 5%;
}

div.heros_part1,div.heros_part2
{
	display: flex;
	justify-content: space-around;
}
div.fourth_gauche h1 
{
	margin-left: 23%;
	margin-top: 8%;
	font-size: 2em;
}
div.sous_fourth_gauche_text
{
	width: 31%;
	padding-top: 30px;
}
div.sous_fourth_gauche_text p 
{
	font-size: .95em;
	line-height: 13px;
}
div.sous_fourth_gauche_img1
{
	width: 30%;
	margin-top: -10px;
}
div.sous_fourth_gauche_img
{
	width: 25%;
	margin-left: 17%;
}
div.sous_fourth_gauche_img div,div.sous_fourth_gauche_img1 div
{
	width: 200px;
	height: 200px;
	margin-top: 17%;
}

div.contenu_cinq_hero
{
	width: 100%;
	height: 100vh;
	background: url('Illustration/img33.png') no-repeat;
	background-size: cover;
	color: #ffffff;
}

div.sous_contenu_cinq_hero
{
	width: 30vw;
	height: 78.4%;
	background-color: #114C92;
	padding: 5% 3% 5% 3%;
	opacity: 0.7;
	margin-left: 54%;
}
.sous_contenu_cinq_hero h1
{
	font-size: 1.8em;
	text-align: center;
}
.sous_contenu_cinq_hero h3
{
	text-align: right;
}

#hero_select
{
	background-color: #114C92;
}
div#sous_footer_second_hero div div
{
	background-color: #114C92;
}

/*********************** Fin css de la page hero ***********************************/
/*********************** Debut css de la page apropos ***********************************/
header#apros_header
{
	background-color: #B11313;
}
div.contenu_prem_apros
{
	width: 100%;
	height: 90vh;
	background-color: #F1C530;
	color: #ffffff;
	display: flex;
}

div.sous_contenu_prem_apros_d,div.sous_contenu_prem_apros_g
{
	width: 50%;
	height: 100%;
}
div.sous_contenu_prem_apros_g
{
	display: flex;
	align-items: center;
	justify-content: center;
}
div.sous_contenu_prem_apros_g h1 
{
	font-size: 4.5em;
}
div.sous_contenu_prem_apros_d img 
{
	transform: scaleX(-1);
}

div.contenu_second_apros
{
	width: 100%;
	height: 110vh;
	background-color:#B11313 ;
	color: #ffffff;
}
div.contenu_second_apros div.con
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
	align-items: center;
}
div.contenu_second_apros div.con div
{
	width: 100%;
}

div.image_apros
{
	width: 600px;
	height: 380px;
}

div.sous_contenu_second_droite form 
{
	width: 100%;
	height: 45vh;
	margin-left: 15%;
}

div.sous_contenu_second_droite form div
{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

div.sous_contenu_second_droite form div input[type="text"],
div.sous_contenu_second_droite form div input[type="email"]
{
	outline: none;
	border: none;
	border: 1px solid #ffffff;
	background-color: transparent;
	height: 30px;
	width: 80%;
	border-radius: 20px;
	padding-left: 5%;
	color: #ffffff;
}

div.sous_contenu_second_droite form div input[name="message"]
{
	padding-bottom: 20%;
	height: 40px;
	margin-top: 3%;
}

div.sous_contenu_second_droite form div input[type="submit"]
{
		outline: none;
	border: none;
	border: 1px solid #ffffff;
	background-color: transparent;
	height: 40px;
	width: 40%;
	border-radius: 20px;
	color: #ffffff;
	margin-top: 5%;
}

div.contenu_third_apros
{
	width: 100%;
	height: 125vh;
	background-color:#114C92 ;
	color: #ffffff;
}

.contenu_third_apros h2
{
	padding: 5% 10%;
	font-size: 2em;
}
div.contenu_third_apros div.sous_contenu_third_apros
{
	width: 84%;
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
}
div.sous_contenu_third_apros div
{
	width: 45%;
}
.contenu_third_apros h1 
{
	padding: 5% 5% 5% 10%;
}
div.der
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	
	padding-top: 2%;
}

div.der div
{
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}

div.der div button
{
	width: 12vw;
	color: #ffffff;
	border-radius: 15px;
	height: 35px;
	background-color: transparent;
	border: none;
	border: 1px solid #ffffff;
	font-size: 1.2eme;
	cursor: pointer;
}

#apros_select
{
	background-color: #B11313;
}
div#sous_footer_second_apros div div
{
	background-color: #B11313;
}

/*********************** Fin css de la page apropos ***********************************/
/*********************** Debut css de la page bonus ***********************************/
header#bonus_header
{
	background-color: #B11313;
	z-index: 2;
	position: absolute;
}

div.contenu_bonus
{
	width: 100%;
	height: 120vh;
	position: absolute;
	top: -18%;
	background: url('Illustration/img35.png') no-repeat;
	background-size: cover;
	z-index: 0;
	
}
div.sous_contenu_bonus
{
	position: absolute;
	top: 65%;
	left: 10%;
}
div.sous_contenu_bonus h1 
{
	font-size: 5.5em;
}
footer#footer_bonus
{
	top: 98%;
	position: absolute;
	z-index: 2;
}
#bonus_select
{
	background-color: #B11313;
}
div#sous_footer_second_bonus div div
{
	background-color: #B11313;
}
/*********************** Fin css de la page bonus ***********************************/

/************************ css footer de la page **********************************/
footer
{
	width: 100%;
	height: 50vh;
	background-color: #000000;

}

footer div.sous_footer_prem
{
	padding-top: 60px; 
	width: 100%;
	display: flex;
	align-items: center;
}

footer div.sous_footer_prem nav
{
	width: 83%;
}

footer div.sous_footer_prem nav ul
{
	display: flex;
	list-style-type: none; 
	justify-content: space-around;
	align-items: center;
}

footer div.sous_footer_prem nav ul li 
{
	text-align: center;
	
}

footer div.sous_footer_prem nav ul li a 
{
	color: #ffffff;
	text-decoration: none;
}



footer div.logo
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


footer div.logo .logo-sayna
{
	
	height: 7vh;
	margin-right: 1vw;

}

footer div.logo .logo-times
{
	height: 3vh;
	margin-right: 1vw;
}

footer div.logo .logo-text
{
	height: 35px;
}

footer div.sous_footer_prem .form_langue
{
	width: 17%;
}

footer div.sous_footer_prem .form_langue select
{
	width: 14vw;
	height: 25px;
	border: none;
	outline: none;
	
	color: #fff;
	padding-left: 5px;
	border-radius: 18px;
}

div.sous_footer_second
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}
div.sous_footer_second div
{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: cente4;
	height: 12vh;
}
div.sous_footer_second div div
{
	width: 40px;
	height: 40px;
	
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}
div.sous_footer_second div div img
{
	width: 30px;
	height: 30px;
}
div.sous_footer_trois
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

div.sous_footer_trois p
{
	margin-left: -60px;
}